@charset 'utf-8';

html,
body {
    margin: 0;
    background: #fff;
    @media(prefers-color-scheme: 'dark') {
        background: #1b1b1b;
        color: #fff;
    }
}

// Header
header {
    padding: 2em 10vw;
    color: #fff;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../assets/img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.jumbotron { height: 90vh; }

}

// Navigation
div.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navlinks {
        display: flex;
        align-items: center;
        .navlink {
            text-decoration: none;
            color: #fff;
            margin-left: 10pt;
            &:hover,
            &:focus { color: #6EE6C7; }
        }
    }
}

// Section block
.section {
    display: flex;
    justify-content: center;
    min-height: 75vh;
    &.st1 {
        background: #ddd;
        @media(prefers-color-scheme: 'dark') {
            background: #292929;
            color: white;
        }
    }
}

// Content block
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2em;
    > div, > img {
        margin: 1em 2em;
        @media (max-width: 950px) { margin: 1em auto; }
        max-width: 600pt;
    }
    > img { height: 40vh; }
    @media (max-width: 950px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        div {
            h1, h2, h3, p { text-align: center; }
        }
    }
}

// Get started block
.useApp {
    > div {
        display: flex;
        align-items: center;
        > img {
            margin-right: 0.5em;
            min-height: 100%;
        }
        > div { margin: 0.25em 0; }
        > div > a { line-height: 1em; }
    }
}

div.gsText {
    @media only screen and (max-width: 950px) {
        order: -1;
    }
}

// Team block
div.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    margin: 2em auto;
    > .card {
        background: #ddd;
        @media(prefers-color-scheme: 'dark') {
            background: #292929;
            color: #fff;
        }
        transition: 150ms box-shadow ease-in-out;
        &:hover,
        &:focus {
            @media (prefers-color-scheme: 'dark') {
                box-shadow: 0 1em 8px #0f0f0f;
            }
            box-shadow: 0 1em 8px #aaaaaa;
        }
        display: flex;
        flex-direction: column;
        max-width: 14em;
        flex-grow: 2;
        border-radius: 0.5em;
        margin: 1em;
        a {
            margin: 0;
            text-decoration: none;
            color: inherit;
            > .cardPhoto {
                width: 100%;
                border-radius: 0.4em 0.4em 0 0;
            }
            > .cardText { padding: 1em; }
        }
    }
}

// Footer
footer {
    background: #111;
    color: #fff;
    padding: 2em 10vw;
}
