<div class="section st1">
    <div class="content">
        <img src="/assets/img/004.svg" alt="App on Android and iOS Preview">
        <div class="gsText">
            <h2>Get started</h2>
            <div>
                <div class="useApp">
                    <h3>Download the app</h3>
                    <div>
                        <img src="/assets/img/android.svg" alt="Android logo">
                        <div>
                            <a>Android</a>
                            <br>
                            <small class="disabled">coming soon</small>
                        </div>
                    </div>
                    <div>
                        <img src="/assets/img/iphone.svg" alt="Apple Logo">
                        <div>
                            <a>iPhone</a>
                            <br>
                            <small class="disabled">coming soon</small>
                        </div>
                    </div>
                </div>
                <div class="useApp">
                    <h3>Use the webapp</h3>
                    <div>
                        <img src="/assets/img/launch.svg" alt="Open icon">
                        <div>
                            <a>Coming soon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
