<div class="section st1">
    <div class="content">
        <img src="assets/img/004.svg" rel="App on Android and iOS Preview">
        <div class="gsText">
            <h2>Get started</h2>
            <div>
                <div class="useApp">
                    <h3>Download the app</h3>
                    <div>
                        <img src="assets/img/android.svg" rel="Android logo">
                        <div>
                            <a class="disabled">Android</a>
                            <br>
                            <small class="disabled">coming soon</small>
                        </div>
                    </div>
                    <div>
                        <img src="assets/img/iphone.svg" rel="Apple Logo">
                        <div>
                            <a class="disabled">iPhone</a>
                            <br>
                            <small class="disabled">coming soon</small>
                        </div>
                    </div>
                </div>
                <div class="useApp">
                    <h3>Use the webapp</h3>
                    <div>
                        <img src="assets/img/launch.svg" rel="Open icon">
                        <div>
                            <a class="disabled">Launch now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>