<div class="section">
    <div class="section-l">
        <img src="" rel="" />
    </div>
    <div class="section-r">
        <p class="px-28 sb">Get started</p>
        <div class="section">
            <div class="section-l">
                <p class="px-14 m">Download the app</p>
                <div>
                    <a>
                        <img src="" rel="">
                        <p class="px-12 m">Android</p>
                        <p class="px-8 m g">currently in public beta</p>
                    </a>
                </div>
                <div>
                    <a>
                        <img src="" rel="">
                        <p class="px-12 m comingsoon">iPhone</p>
                        <p class="px-8 m comingsoon-g">coming soon</p>
                    </a>
                </div>
            </div>
            <div class="section-r">
                <p class="px-14 m">Use the webapp</p>
                <div>
                    <a>
                        <img src="" rel="">
                        <p class="px-12 m">Launch now</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>