<header class="foldHeader">
    <div class="container">
        {% include nav.html %}
        <div class="section">
            <div class="section-l">
                <img src="/assets/img/header.svg" rel="Logo on Phone" />
            </div>
            <div class="section-r">
                <p class="sb head-text">{{ site.title }}</p>
                <p class="sb head-subtext">{{ site.description }}</p>
                <a href="#download" class="button">Download</a>
            </div>
        </div>
    </div>
</header>