---
---

@charset 'utf-8';
@import 'font';

// Header and Nav
.button {
    background: #6EE7C8;
    padding: 5px 20px 5px 20px;
}

.nav {

}

// Footer

.footer {
    width: 100%;
    background: #111;
    top: 30px; left: 100px;
}
