@charset 'utf-8';
@import url('https://rsms.me/inter/inter.css');

html { 
    font-family: 'Inter', sans-serif;
    color: #000;
}
h1 {
    font-size: 4em;
    margin: 0em;
    line-height: 1em;
    letter-spacing: -0.02em;
}
h2 {
    font-size:2.5em;
    line-height: 1em;
    letter-spacing: -0.02em;
}
h3 {
    font-size:1.5em;
    line-height: 1em;
    letter-spacing: -0.02em;
}
p {
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    font-weight: 500;
}

// Header
h1.hero, h3.hero {
    color: #fff; 
    font-weight: 600;
}

// Navigation
.navLink {
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #fff;
}

// Download centre
p.subtext {
    font-size: 0.8em;
    line-height: 0em;
}

// Footer
h3.footer {
    color: #fff; 
    font-weight: 600;
}
p.footer {
    color: #ffffff99;
    font-weight: 500;
}

/* Button */
.downloadButton {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.02em;
}