<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://cdn.doamatto.xyz" />
        <link rel="dns-prefetch" href="//cdn.doamatto.xyz" />
        <link rel="preconnect" href="https://alpine.gcp.doamatto.xyz" />
        <link rel="dns-prefetch" href="//alpine.gcp.doamatto.xyz" />
        <link rel="preconnect" href="https://rsms.me" />
        <link rel="dns-prefetch" href="//rsms.me" />
        {% block rss %}
        <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">
        {% endblock %}
        <link rel="author" href="humans.txt" />
        
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />
        {% block seo -%}
          <meta property="og:site_name" content="{% block ogsitename %}{{config.title}}{% endblock ogsitename %}" />
          <meta name="author" content="{{ config.extra.author }}" />
          
          <meta property="og:title" content="{% block ogtitle %}{{config.title}}{% endblock ogtitle %}" />
          <meta name="twitter:title" content="{% block twtitle %}{{config.title}}{% endblock twtitle %}" />
          
          <meta property="og:description" content="{% block ogdesc %}{{config.description}}{% endblock ogdesc %}" />
          <meta name="twitter:description" content="{% block twdesc %}{{config.description}}{% endblock twdesc %}" />
          
          <meta property="og:image" content="{% block ogimage %}/android-chrome-192x192.png{% endblock ogimage %}" />
          <meta name="twitter:image" content="{% block twimage %}/android-chrome-192x192.png{% endblock twimage %}" />

          <meta name="twitter:card" content="{% block twtype %}summary{% endblock twtype %}" />
          <meta propetry="og:type" content="{% block ogtype %}website{% endblock ogtype %}" />

          <meta property="og:url" content="{% block ogurl %}{{config.base_url | safe }}{% endblock ogurl %}" />
          <meta name="twitter:site" content="@doamatto" />
          <meta name="twitter:creator" content="@doamatto" />
          {% if page.date -%}
            <meta property="article:published_time" content="{{ page.date }}" />
          {%- endif %}
        {%- endblock seo -%}
        <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
        <link rel="stylesheet" href="https://cdn.doamatto.xyz/inter.min.css" integrity="sha384-qEZA/KrtbBoR2bh9+JzkzK+WdD0MRAHQ+GH+ABOTVhBeelVv3LjyMeGXXpmSvoGv" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
    </head>
    <body>
        {{ content }}
    </body>
</html>
