{% extends "default.html" %}

{% block title %}{{section.title}} - doamatto{% endblock title %}
{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}
{% block ogtitle %}{{ section.title }} - doamatto{% endblock ogtitle %}
{% block ogdesc %}{{ section.description }}{% endblock ogdesc %}
{% block ogurl %}{{ section.permalink | safe }}{% endblock ogurl%}

{% block content %}
<header class="jumbotron">
    <div class="nav">
        <h3>Mello</h3>
        <div class="navlinks">
            <a class="navlink" href="{{ '/' | relative_url }}">Home</a>
            <a class="navlink" href="{{ '/team' | relative_url }}">Team</a>
            <a class="navlink" target="_blank" href="https://github.com/Mello-App" rel="noreferrer">GitHub</a>
        </div>
    </div>
    <div class="content">
        <img src="{{ '/assets/img/header.svg' | relative_url }}" alt="Picture of the Mello app on a phone">
        <div>
            <h1>{{ site.title }}</h1>
            <h3>{{ site.description }}</h3>
        </div>
    </div>
    <div class="nav"></div>
</header>
{{ page.content | safe }}
{% endblock content %}
