{% extends "default.html" %}

{% block content %}
<header class="jumbotron">
    {% include "partials/nav.html" %}
    <div class="content">
        <img src="/assets/header.svg" alt="Picture of the Mello app on a phone">
        <div>
            <h1>Mello</h1>
            <h3>Easing your mind whenever you need us.</h3>
        </div>
    </div>
    <div class="nav"></div>
</header>
<div class="section">
    <div class="content">
        <div>
            <h2>A world of sounds</h2>
            <p>Mello features lots of content ranging from dreamy soundscapes to vivid stories, making it the perfect wind-down technique for when you’re feeling anxious.</p>
        </div>
        <img src="/assets/001.svg" alt="Placeholder image">
    </div>
</div>
<div class="section st1">
    <div class="content">
        <img src="/assets/002.svg" alt="Placeholder image">
        <div>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis sit blandit rhoncus urna, odio id eros, est nisl. Sit nunc nullam sed senectus fringilla sagittis interdum faucibus. Integer velit diam sed arcu dictum mauris, nullam elit, congue. In sed facilisis vestibulum, nunc viverra purus id ac id.</p>
        </div>
    </div>
</div>
<div class="section">
    <div class="content">
        <div>
            <h2>Free and open-source</h2>
            <p>Designed with security and transparency in mind, Mello is built to treat people like people, not products. This is your safe space, and we're here to make sure it stays yours and yours alone.</p>
        </div>
        <img src="/assets/003.svg" alt="Placeholder image">
    </div>
</div>
{% include "partials/get_started.html" %}
{% endblock content %}
