{% extends "default.html" %}

{% block title %}{{page.title}} - Mello{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}
{% block ogtitle %}{{ page.title }} - Mello{% endblock ogtitle %}
{% block ogdesc %}{{ page.description }}{% endblock ogdesc %}
{% block ogurl %}{{ page.permalink | safe }}{% endblock ogurl%}

{% block content %}
<header>
    <div class="nav">
        <h3>Mello</h3>
        <div class="navlinks">
            <a class="navlink" href="/">Home</a>
            <a class="navlink" href="/team">Team</a>
            <a class="navlink" target="_blank" href="https://github.com/mello-app" rel="noreferrer">GitHub</a>
        </div>
    </div>
    <div class="content">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="nav"></div>
</header>
{{ page.content | safe }}
{% endblock content %}
